<!-- Pelicula estrella -->
<div class="relative pt-[120px] lg:pt-[90px] pb-[110px] bg-white">
  <div class="container">
    <div class="flex flex-wrap -mx-4">
      <div class="w-full lg:w-2/4 px-4">
        <div class="hero-content">
          <h1 class="
                  text-dark
                  font-bold
                  text-4xl
                  sm:text-[42px]
                  lg:text-[40px]
                  xl:text-[42px]
                  leading-snug
                  mb-3
                  text-center
                ">
            Dr Strange en el Multiverso de la Locura
          </h1>
          <p class="text-base mb-8 text-body-color max-w-full text-justify">
            Doctor Strange en el multiverso de la locura (en inglés: Doctor Strange in the Multiverse of Madness) es una
            película de superhéroes estadounidense basada en el personaje Doctor Strange, de Marvel Comics. Producida
            por Marvel Studios y distribuida por Walt Disney Studios Motion Pictures, es la secuela de Doctor Strange
            (2016) y la película número 28 del Universo cinematográfico de Marvel (UCM). La película está dirigida por
            Sam Raimi, escrita por Michael Waldron, y está protagonizada por Benedict Cumberbatch como Stephen Strange,
            junto a Elizabeth Olsen, Chiwetel Ejiofor, Benedict Wong, Xochitl Gomez, Michael Stuhlbarg y Rachel McAdams.
          </p>
          <ul class="flex flex-wrap items-center">
            <li>
              <a href="javascript:void(0)" class="
                      py-4
                      px-6
                      sm:px-10
                      lg:px-8
                      xl:px-10
                      inline-flex
                      items-center
                      justify-center
                      text-center text-white text-base
                      bg-primary
                      hover:bg-opacity-90
                      font-normal
                      rounded-lg
                    ">
                Comprar boletos
              </a>
            </li>
            <li>
              <a href="javascript:void(0)" class="
                      py-4
                      px-6
                      sm:px-10
                      lg:px-8
                      xl:px-10
                      inline-flex
                      items-center
                      justify-center
                      text-center text-base
                      font-normal
                      text-body-color
                      hover:text-primary
                    ">

                Ver Trailer
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="w-full lg:w-6/12 px-4">
        <div class="lg:text-right lg:ml-auto">
          <div class="relative inline-block z-10 pt-11 lg:pt-0">
            <img src="https://i.pinimg.com/736x/7e/d4/13/7ed413753cd3d7001c233df4e2c71bfb.jpg" alt="poster"
              class="max-w-sm lg:ml-auto rounded-tl-2xl" />
            <span class="absolute -left-8 -bottom-8 z-[-1]">
              <svg width="93" height="93" viewBox="0 0 93 93" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="2.5" cy="2.5" r="2.5" fill="#3056D3" />
                <circle cx="2.5" cy="24.5" r="2.5" fill="#3056D3" />
                <circle cx="2.5" cy="46.5" r="2.5" fill="#3056D3" />
                <circle cx="2.5" cy="68.5" r="2.5" fill="#3056D3" />
                <circle cx="2.5" cy="90.5" r="2.5" fill="#3056D3" />
                <circle cx="24.5" cy="2.5" r="2.5" fill="#3056D3" />
                <circle cx="24.5" cy="24.5" r="2.5" fill="#3056D3" />
                <circle cx="24.5" cy="46.5" r="2.5" fill="#3056D3" />
                <circle cx="24.5" cy="68.5" r="2.5" fill="#3056D3" />
                <circle cx="24.5" cy="90.5" r="2.5" fill="#3056D3" />
                <circle cx="46.5" cy="2.5" r="2.5" fill="#3056D3" />
                <circle cx="46.5" cy="24.5" r="2.5" fill="#3056D3" />
                <circle cx="46.5" cy="46.5" r="2.5" fill="#3056D3" />
                <circle cx="46.5" cy="68.5" r="2.5" fill="#3056D3" />
                <circle cx="46.5" cy="90.5" r="2.5" fill="#3056D3" />
                <circle cx="68.5" cy="2.5" r="2.5" fill="#3056D3" />
                <circle cx="68.5" cy="24.5" r="2.5" fill="#3056D3" />
                <circle cx="68.5" cy="46.5" r="2.5" fill="#3056D3" />
                <circle cx="68.5" cy="68.5" r="2.5" fill="#3056D3" />
                <circle cx="68.5" cy="90.5" r="2.5" fill="#3056D3" />
                <circle cx="90.5" cy="2.5" r="2.5" fill="#3056D3" />
                <circle cx="90.5" cy="24.5" r="2.5" fill="#3056D3" />
                <circle cx="90.5" cy="46.5" r="2.5" fill="#3056D3" />
                <circle cx="90.5" cy="68.5" r="2.5" fill="#3056D3" />
                <circle cx="90.5" cy="90.5" r="2.5" fill="#3056D3" />
              </svg>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Slider para la cartelera -->
<div class="bg-gray-50 pb-6 px-6">
  <div class="mb-6 py-4 flex flex-col justify-center items-center">
    <h2 class="text-4xl font-bold text-center">Cartelera</h2>
    <div class="flex flex-wrap -mx-4 w-2/4 mt-4">
      <div class="w-full px-4">
        <div class="mb-12">
          <div class="relative">
            <select class="
                  w-full
                  border-[1.5px] border-form-stroke
                  rounded-lg
                  py-3
                  px-5
                  font-medium
                  text-body-color
                  outline-none
                  focus:border-primary
                  active:border-primary
                  transition
                  disabled:bg-[#F5F7FD] disabled:cursor-default
                  appearance-none
                  ">
              <option selected>Selecciona una sucursal...</option>
              <option value="">Option</option>
              <option value="">Option</option>
            </select>
            <span class="
                  absolute
                  right-4
                  top-1/2
                  -translate-y-1/2
                  mt-[-2px]
                  w-[10px]
                  h-[10px]
                  border-r-2 border-b-2 border-body-color
                  rotate-45
                  ">
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="h-96">
    <swiper [slidesPerView]="5" [navigation]="true" [spaceBetween]="20" [pagination]="{
      clickable: true
    }" class="mySwiper">
      <ng-template swiperSlide class="shadow-lg border">Slide 1</ng-template>
      <ng-template swiperSlide class="shadow-lg border">Slide 2</ng-template>
      <ng-template swiperSlide class="shadow-lg border">Slide 3</ng-template>
      <ng-template swiperSlide class="shadow-lg border">Slide 4</ng-template>
      <ng-template swiperSlide class="shadow-lg border">Slide 5</ng-template>
      <ng-template swiperSlide class="shadow-lg border">Slide 6</ng-template>
      <ng-template swiperSlide class="shadow-lg border">Slide 7</ng-template>
      <ng-template swiperSlide class="shadow-lg border">Slide 8</ng-template>
      <ng-template swiperSlide class="shadow-lg border">Slide 9</ng-template>
    </swiper>
  </div>
</div>
